[submodule "aem-qa-system"]
	path = aem-qa-system
	url = https://github.com/sijungkim/aem-qa-system.git
	branch = rag_rebuild
[submodule "aem_qa_station"]
	path = aem_qa_station
	url = https://github.com/sijungkim/aem_qa_station.git
	branch = veryfy-686ef187